<h2 class="text-sm font-semibold py-2">Добавить ингредиенты</h2>
<div id="ingredients_block" class="grid gap-2 sm:gap-x-1 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 select-none">
    <div *ngFor="let ing of ingreds; index as i;" class="w-full p-1 lg:px-0 rounded-lg border-2 border-gray-200 cursor-pointer"
    [ngClass]="this.boolArrayView[i] == true ? 'w-full p-1 lg:px-0 rounded-lg border-2 border-green-600 cursor-pointer' 
    : 'w-full p-1 lg:px-0 rounded-lg border-2 border-gray-200 cursor-pointer'"
    (click)="addIngred(ing.IngredientId, i)" style="min-width: 90px;">
        <div class="bg-white rounded flex flex-col relative">
            <div *ngIf="this.boolArrayView[i] == true" class="absolute top-0 left-0">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle text-green-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                  </svg>
            </div>
            <div
        class="mb-1 h-14 w-full lg:mb-0 max-w-xs mx-auto">
           <img [src]="ing.UrlImg" 
          alt="Just a flower" class="object-fill w-auto h-full rounded mx-auto">
        </div>
        <div class="text-gray-400 text-center text-sm font-light leading-tight" style="min-height: 50px;">{{ing.Name}} {{ing.Mass}}г</div>
        <div class="text-center text-base font-medium">+ {{ing.Price}} ₽</div>

        </div>
    </div>
</div>
