<div class="fixed z-30 w-screen shadow">
  <nav class="bg-white text-emerald-500">
    <div class="flex px-4 py-3.5">

      <div class="flex-shrink-0 relative">
        <h1 class=" md:pt-0 text-3xl font-bold 
            leading-tight tracking-tight text-shadow focus:outline-none cursor-pointer" [routerLink]="['/']">
          Pizzeria
        </h1>

      </div>



      <!-- компьютер -->
      <div class="hidden sm:inline flex-grow ml-8">
        <ul class="flex text-lg md:text-xl my-2 justify-end">

          <li class="mx-4 px-2 flex-1">
            <!-- <a [routerLink]="['/test']" class="
                  px-3 pb-1 rounded-md text-shadow text-center cursor-pointer
                  hover:text-emerald-700 font-medium">
              test
            </a> -->
            <app-menu-nav></app-menu-nav>
          </li>

          <li class="mx-4 px-2" *ngIf="!autorizationFlugView">

            <a [routerLink]="['/log-in']" class="
                  px-3 rounded-md text-shadow text-center cursor-pointer
                  hover:text-emerald-600 font-medium text-base
                  flex flex-row transition duration-150 ease-in-out">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
              </svg>
              <div class="ml-2 my-auto text-base font-medium">Войти</div>

            </a>
          </li>

          <li class="mx-4 px-2" *ngIf="autorizationFlugView">
            <a [routerLink]="['/client']" class="
                  px-3 rounded-md text-shadow text-center cursor-pointer
                  hover:text-emerald-700 font-medium text-base
                  flex flex-row
                  ">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              </svg>
              <div class="ml-2 text-base font-medium">{{firstName}}</div>

            </a>
          </li>

        </ul>
      </div>

      <!-- вход в аккаунт -->
      <div class="flex flex-grow justify-end sm:hidden mt-1">
        <a [routerLink]="['/log-in']" *ngIf="!autorizationFlugView" class="px-2 rounded-md text-shadow text-center cursor-pointer
                  hover:text-emerald-600 font-medium text-base
                  flex flex-row transition duration-150 ease-in-out
                  ">
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor"
            class="bi bi-person-fill my-auto" viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg>
        </a>

        <a [routerLink]="['/client']" *ngIf="autorizationFlugView" class="px-2 rounded-md text-shadow text-center cursor-pointer
                  hover:text-emerald-600 font-medium text-base
                  flex flex-row transition duration-150 ease-in-out
                  ">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill  my-auto"
            viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
        </a>
      </div>

      <!-- кнопка корзины -->
      <div class="flex items-center ">
        <button class="
          inline-flex items-center justify-center p-2 rounded-md 
          relative hover:text-emerald-600 font-medium text-base
         transition duration-150
          ease-in-out
          " [routerLink]="['/cart']">
          <svg width="30" height="29" viewBox="0 0 16 16" class="bi bi-cart4" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
          </svg>
          <svg *ngIf="cartContainFlugView" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="absolute top-1 left-6 bi bi-app-indicator text-red-700 " viewBox="0 0 16 16">
            <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          </svg>

          <div class="hidden sm:block ml-2 text-base font-medium">Корзина</div>
        </button>
      </div>

    </div>
  </nav>
</div>