<div class="min-h-screen bg-slate-50/50 pt-20">

    <div class="container mx-auto">
        <div class="max-w-xl mx-auto p-1 sm:p-4 ">
            <div class="mt-4 my-2 sm:mx-7 flex flex-row items-center justify-between">
                <h1 class="font-bold text-2xl">Личный кабинет</h1>
                <span (click)="exitUser()" class="font-semibold text-sm text-green-600 cursor-pointer">Выход</span>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="max-w-lg mx-auto p-1 sm:p-4 ">
            <div class="my-2 sm:mx-7">
                <div class="xl:w-full xl:mx-0 h-12 ">
                    <div class="justify-between flex-wrap sm:block rounded ">
                        <ul class="flex items-center h-full text-center px-0  sm:p-2 mx-auto">
                            <li (click)="active_status = 0"
                                [ngClass]="active_status == 0 ? 'flex-1 text-sm text-green-700 py-2 px-3 rounded font-medium shadow'
                                     : 'flex-1  text-sm text-gray-600 py-2 px-3 font-medium hover:text-green-700 cursor-pointer'">
                                Личные данные</li>
                            <li (click)="active_status = 1"
                                [ngClass]="active_status == 1 ? 'flex-1 text-sm text-green-700 py-2 px-3 rounded font-medium shadow' 
                                    : 'flex-1  text-sm text-gray-600 py-2 px-3 font-medium hover:text-green-700 cursor-pointer'">
                                История заказов</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="active_status == 0">
        <div class="container mx-auto">
            <div class="max-w-lg mx-auto p-1 sm:p-4 ">
                <div class="my-2 sm:mx-7">
                    <form action="">

                        <div class="mb-6">
                            <input type="text" name="firstName" #firstName placeholder="Ваше имя" required
                                [value]="client.firstName"
                                [ngClass]="emptyError && firstName.value == '' ? 'w-full px-3 py-2 placeholder-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300 border-red-500 ' 
                                  : 'w-full px-3 py-2 placeholder-gray-300 border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300'" />
                        </div>

                        <div class="mb-6">

                            <input type="tel" name="telephone" [(ngModel)]="client.telephone"
                                placeholder="+7 (922)-900-14-77" required mask="(000) 000 00 00" prefix="+7"
                                [showMaskTyped]="true" readonly style="cursor: not-allowed;"
                                class="w-full px-3 py-2 placeholder-gray-300 border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300" />
                        </div>



                        <div class="mb-6 relative">
                            <input name="password" [value]="client.password" #password
                                placeholder="Введите новый пароль" required [type]="hide ? 'password' : 'text'"
                                [ngClass]="emptyError && password.value == '' ? 'w-full px-3 py-2 placeholder-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300 border-red-500 ' 
                                  : 'w-full px-3 py-2 placeholder-gray-300 border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300'" />

                            <div class="eye-box p-2">
                                <svg (click)="eyeFunction()" *ngIf="!hide" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-eye cursor-pointer text-green-800 m-1"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg>
                            </div>

                            <div class="eye-box p-2">
                                <svg (click)="eyeFunction()" *ngIf="hide" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor"
                                    class="bi bi-eye-slash cursor-pointer text-green-800 m-1" viewBox="0 0 16 16">
                                    <path
                                        d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                                    <path
                                        d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                                    <path
                                        d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                                </svg>
                            </div>
                            <!-- <a href="#!" class="mb-2 text-sm text-green-400 focus:outline-none focus:text-green-500 hover:text-green-500 dark:hover:text-green-300">Забыли пароль?</a> -->
                        </div>

                        <div *ngIf="emptyError"[@alertsAnimation]
                            class="bg-red-100 rounded-lg py-2 px-6 mb-4 text-base text-red-700 mb-3 inline-flex items-center w-full">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle"
                                class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z">
                                </path>
                            </svg>
                            Поле не должно быть пустым!
                        </div>

                        <div *ngIf="successDone" [@alertsAnimation]
                            class="bg-green-100 rounded-lg py-2 px-6 mb-4 text-base text-green-700 mb-3 inline-flex items-center w-full">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle"
                                class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                                </path>
                            </svg>
                            Сохранено!
                        </div>



                        <div class="mb-6 justify-center text-center">
                            <!-- *ngIf="password.valid && telephone.valid && checkedPolicy" -->
                            <button (click)="updateClient(firstName.value, password.value, client.clientId)" type="button"
                                class="text-center px-8 py-2 text-white bg-green-600 rounded-md focus:bg-green-700 focus:outline-none cursor-pointer">
                                Сохранить</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="active_status == 1">
        <div class="container mx-auto">
            <div class="max-w-xl mx-auto p-1 sm:p-4 ">
                <div class="my-2 sm:mx-7">
                    Заказы
                </div>
            </div>
        </div>
    </div>
</div>