<div class="min-h-screen bg-slate-50/50 py-20">
    <div class="container mx-auto">
        <div class="max-w-xl mx-auto p-1 sm:p-4 ">
            <div class="mt-4 my-3 sm:mx-7 ">
                <h1 class="font-bold text-3xl text-gray-700 text-center">Оформление заказа</h1>
            </div>
        </div>
    </div>

    <div *ngIf="!autorizationFlugView" class="container mx-auto text-center text-gray-500">
        Перед оформлением заказа обязательно
        <a [routerLink]="['/registration']" class="font-normal   text-emerald-400 focus:outline-none focus:text-emerald-500 
        hover:text-emerald-500 dark:hover:text-emerald-600">зарегистрируйтесь</a>
        или <a [routerLink]="['/log-in']" class="font-normal     text-emerald-400 focus:outline-none focus:text-emerald-500 
        hover:text-emerald-500 dark:hover:text-emerald-600">войдите в аккаунт</a>.
    </div>

    <div class="text-sm font-semibold text-gray-600 px-3 mt-8 max-w-xl mx-auto">Выберите способ оплаты:</div>

    <div class="flex flex-col md:flex-row justify-between px-1 md:px-0 mt-3 max-w-xl mx-auto">
        <div class="flex flex-row items-center mb-6">
            <div>
                <input checked type="radio" name="radio" [(ngModel)]="typeOfPay" value="Наличными при получении"
                    class="form-radio h-5 w-5 text-emerald-600 cursor-pointer text-sm ml-3  focus:ring-white">
            </div>
            <div class="text-sm ml-3 text-gray-500 cursor-pointer" (click)="typeOfPay = 'Наличными при получении' " >Наличными при получении</div>
        </div>

        <div class="flex flex-row items-center mb-6">
            <div>
                <input checked type="radio" name="radio" [(ngModel)]="typeOfPay" value="Курьеру картой"
                    class="form-radio h-5 w-5 text-emerald-600 cursor-pointer text-sm ml-3 focus:ring-white">
            </div>
            <div class="text-sm ml-3 text-gray-500 cursor-pointer" (click)="typeOfPay = 'Курьеру картой' " >Курьеру картой</div>
        </div>

        <div class="flex flex-row items-center mb-6">
            <div>
                <input checked type="radio" name="radio" [(ngModel)]="typeOfPay" value="Картой на сайте"
                    class="form-radio h-5 w-5 text-emerald-600 cursor-pointer text-sm ml-3 focus:ring-white">
            </div>
            <div class="text-sm ml-3 text-gray-500 cursor-pointer" (click)="typeOfPay = 'Картой на сайте' " >Картой на сайте</div>
        </div>

    </div>

    
    <div *ngIf="typeOfPay == 'Картой на сайте' " class="md:px-0 mx-auto mt-3 max-w-lg px-3" [@cardAnimation]>

        <div class="mb-4">

            <div class="p-4 shadow rounded-md">
                <div class="flex flex-row w-full justify-evenly">
                    <div>
                        <img class="img-cards" src="../../../assets/img/card_mir.png" alt="">
                    </div>
                    <div>
                        <img class="img-cards" src="../../../assets/img/card_visa.png" alt="">
                    </div>
                    <div>
                        <img class="img-cards" src="../../../assets/img/card_ms.png" alt="">
                    </div>
                    <div>
                        <img class="img-cards" src="../../../assets/img/card_tink.png" alt="">
                    </div>
                </div>


                <div>
                    <label for="numberCard"
                        class="mt-4 block mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">Номер
                        карты</label>
                    <input [(ngModel)]="numberCard" type="tel" name="numberCard" placeholder="0000 0000 0000 0000"
                        mask="0000   0000   0000   0000" [showMaskTyped]="true" class="w-full md:w-3/4 mx-auto appearance-none placeholder-gray-300 border-gray-300 rounded-md 
                focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300" />
                </div>
                <div class="flex flex-row justify-between">
                    <div>
                        <label for="dateCard"
                            class="mt-4 block mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">Действует
                            до</label>

                        <input [(ngModel)]="dateCardMM" type="tel" name="dateCardMM" mask="00" [showMaskTyped]="true"
                            class=" mx-auto appearance-none placeholder-gray-300 border-gray-300 rounded-md 
                focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300" style="width: 45px;" />

                        /

                        <input [(ngModel)]="dateCardYY" type="tel" name="dateCardYY" mask="00" [showMaskTyped]="true"
                            class=" mx-auto appearance-none placeholder-gray-300 border-gray-300 rounded-md 
           focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300" style="width: 45px;" />
                    </div>

                    <div>
                        <label for="dateCard"
                            class="mt-4 block mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">CVV/CVC</label>
                        <input [(ngModel)]="codeCard" type="tel" name="dateCardYY" mask="000" [showMaskTyped]="true"
                            class="w-1/3 mx-auto appearance-none placeholder-gray-300 border-gray-300 rounded-md 
       focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300" style="width: 55px;"/>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="text-sm font-semibold text-gray-600 px-3 my-2 max-w-xl mx-auto">Итоговая сумма заказа:
        <span class="font-semibold text-lg text-emerald-600">{{lastprice}} ₽</span>
    </div>

    <div *ngIf="typeOfPay == 'Наличными при получении' "
        class="flex flex-row items-stretch md:px-0 max-w-xl mx-auto mt-4" [@alertsAnimation]>
        <div class="text-sm font-semibold text-gray-600 px-3 max-w-xl self-center">Потребуется сдача с:</div>

        <input [(ngModel)]="delivery" type="number" name="delivery" style="max-width: 100px"
            class="appearance-none placeholder-gray-300 border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300">

        <span class="font-semibold text-lg text-emerald-600 self-center pl-2"> ₽</span>

    </div>


    <div class="mx-auto max-w-lg p-3 flex flex-col justify-center">

        <div class="flex flex-row items-center mb-6">
            <div>
                <input type="checkbox" [value]="checkedPolicy" (change)="changeCheckedPolicy()"
                    class="form-checkbox h-5 w-5 text-emerald-600 focus:ring-white">
            </div>
            <div class="text-sm ml-3 text-gray-500">Настоящим вы соглашаетесь <span
                    class="text-emerald-400 cursor-pointer">с
                    политикой конфиденциальности</span> и даете согласие на
                обработку своих персональных данных.</div>
        </div>

        <button type="button" (click)="sendOrder()"
            [disabled]=" !(autorizationFlugView && checkedPolicy && lastprice > 0 && deliveryBool() ) " [ngClass]="autorizationFlugView && checkedPolicy && lastprice > 0 && deliveryBool() ? 
            'text-center bg-emerald-500 shadow-md hover:bg-emerald-600 hover:shadow-lg active:bg-emerald-700 active:shadow-lg transition duration-150 ease-in-out rounded-md text-white text-base px-8 py-2 cursor-pointer text-base font-medium' 
            : 'text-center px-8 py-2 text-gray-600 text-base font-medium bg-gray-300 rounded-md'"
            class="mx-auto">Отправить заказ</button>
    </div>

</div>