
<div class="container mx-auto">
  <div class="max-w-xl mx-auto sm:p-4 ">
      <div class="mb-8 mt-12">
          <h1 id="Pizza" class="font-bold text-3xl text-gray-700">{{titleEnum}}</h1>
      </div>
  </div>
</div>

<div class="grid sm:px-4 grid-cols-1 gap-0 lg:grid-cols-3 xl:grid-cols-4 sm:grid-cols-2 ">
    <div *ngFor="let dish of dish_component; index as i;" class="w-full p-2 lg:px-0">
      <div class="bg-white rounded p-3">
        <div>
          <div class="max-w-full mb-3 h-62 lg:mb-0 max-w-xs mx-auto flex-initial">
            <img [src]="dish.UrlImg" (click)="modalBtn(dish.DishId)" alt="Just a flower"
              class="object-fill w-full h-full rounded opacity-95 cursor-pointer hover:translate-y-1 transition duration-150 ease-in-out">
          </div>
          <div class="flex-auto p-2 justify-evenly">
            <div class="flex flex-wrap ">
              <div class="flex flex-row items-center justify-between w-full min-w-0 ">
                <h2 class="font-semibold mr-auto text-xl text-gray-900">
                  {{dish.Name}}
                </h2>
              </div>
            </div>
            <div class="flex flex-wrap ">
              <div class="flex items-center justify-between w-full min-w-0 text-gray-400 pt-2 pb-4 font-light "
                style="height: 120px;">
                <p *ngIf="dish.DishType != 0">{{dish.Structure}}</p>
                <p *ngIf="dish.DishType == 0">{{dish.Mass / 1000}} л</p>
              </div>
            </div>
            <div class="flex items-center justify-between w-full min-w-0 ">
              <div class="text-lg font-medium">{{dish.Price}} ₽</div>
  
              <button *ngIf="!dishes_InCartID.includes(dish.DishId)" (click)="modalBtn(dish.DishId)" class="mx-2 my-2 bg-emerald-500 shadow-md
                hover:bg-emerald-600 hover:shadow-lg
                active:bg-emerald-700 active:shadow-lg
                    transition duration-150
                    ease-in-out rounded-md 
                    text-white text-base font-medium px-6 py-2">
                Выбрать
              </button>
  
              <button *ngIf="dishes_InCartID.includes(dish.DishId)" (click)="modalBtn(dish.DishId)" 
              class="mx-2 my-2 bg-emerald-500 shadow-md
                hover:bg-emerald-600 hover:shadow-lg
                active:bg-emerald-700 active:shadow-lg
                    transition duration-150
                    ease-in-out rounded-md 
                    text-white text-base font-medium px-6 py-2">Добавить ещё</button>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- модальное окно -->
  <div [ngClass]="'z-50 fixed w-full flex justify-center inset-0 ' + (modal ? 'hidden' : 'block')">
    <div (click)="modalBtn_close()" class="w-full h-full opacity-40 bg-gray-900 z-0 absolute inset-0"></div>
    <div class="mx-auto container" [@openClose]="modal ? 'hidden' : 'block'">
      <div class="flex items-center justify-center h-full w-full">
  
        <div class="bg-white rounded-md shadow fixed overflow-y-auto sm:h-auto w-10/12 md:w-10/12 lg:max-w-3xl ">
  
          <div
            class="bg-gray-100 rounded-tl-md rounded-tr-md px-4 py-3 md:px-8 md:py-4 md:py-7 flex items-center justify-between">
            <p class="text-base font-semibold text-gray-900">{{dish_modal.Name}}</p>
            <button role="button" aria-label="close label" (click)="modalBtn_close()" class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" fill="currentColor"
                class="bi bi-x-lg font-semibold text-gray-400 hover:text-gray-700" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                <path fill-rule="evenodd"
                  d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
              </svg>
            </button>
          </div>
  
          <div class="px-4 md:px-10 py-3 md:py-6 ">
            <div class="flex flex-col sm:flex-row">
              <div class="sm:h-max-31 my-auto" style="max-width: 260px;">
                <img [src]="dish_modal.UrlImg" alt="" class="object-fill w-full h-full rounded">
              </div>
  
              <div class="flex-1 ml-0 sm:ml-2 pr-2">
                <div class="w-full min-w-0 text-gray-400 py-2">
                  <p>{{dish_modal.Structure}}</p>
                </div>
  
                <div class="text-sm mt-4 font-semibold py-2">Выбрано:</div>
                <div class="flex flex-col md:flex-row py-2 justify-between">
  
                  <div class="md:hidden flex flex-row items-center justify-evenly mb-3">
                    <div><button (click)="decrement()"
                        class="px-3 py-1 text-2xl font-bold rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">-</button>
                    </div>
                    <div class="px-3 text-xl font-semibold">{{countModal}}</div>
                    <div><button (click)="increment()"
                        class="px-3 py-1 text-2xl font-bold rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">+</button>
                    </div>
                  </div>
  
                  <div class="hidden md:flex flex-row items-center ">
                    <div><button (click)="decrement()"
                        class="px-2 rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">-</button>
                    </div>
                    <div class="px-3">{{countModal}}</div>
                    <div><button (click)="increment()"
                        class="px-2 rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">+</button>
                    </div>
                  </div>
  
                  <div class="mx-auto sm:hidden">
                    <button (click)="addToCart(dish_modal.DishId)" class="mx-0 my-2 bg-emerald-500 shadow-md
                    hover:bg-emerald-600 hover:shadow-lg
                    active:bg-emerald-700 active:shadow-lg
                    transition duration-150
                    ease-in-out rounded-md 
                     text-white text-base font-medium px-4 py-2 max-w-56">В корзину за
                      {{dish_modal.Price * countModal}} ₽</button>
                  </div>
  
                  <div class="hidden sm:flex justify-center ">
                    <button (click)="addToCart(dish_modal.DishId)" class="mx-0 my-2 bg-emerald-500 shadow-md
                    hover:bg-emerald-600 hover:shadow-lg
                    active:bg-emerald-700 active:shadow-lg
                    transition duration-150
                    ease-in-out rounded-md 
                     text-white text-base font-medium px-2 py-2 w-56">В корзину за
                      {{dish_modal.Price * countModal}} ₽</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
