<div class="hidden lg:block">
    <div class="max-w-screen-sm mx-auto px-2 lg:px-0 flex flex-row text-center rounded bg-white" >

        <a class="flex-1 items-end flex flex-col justify-center cursor-pointer hover:text-emerald-700 transition 
        duration-150 ease-in-out" href="#Pizza" >
            <div class="mx-auto px-3 "> 
                <div class="font-semibold text-base">Пицца</div> 
            </div>
        </a>

        <a class="flex-1 items-end flex flex-col justify-center cursor-pointer hover:text-emerald-700 transition
         duration-150 ease-in-out" href="#Snacks">
            <div class="mx-auto px-3 ">
                <div class="font-semibold text-base">Закуски</div> 
            </div>
        </a>

        <a class="flex-1 items-end flex flex-col justify-center cursor-pointer hover:text-emerald-700 transition 
        duration-150 ease-in-out" href="#Rolls">
            <div class="mx-auto px-3">
                <div class="font-semibold text-base">Роллы</div> 
            </div>
        </a>

        <a class="flex-1 items-end flex flex-col justify-center cursor-pointer hover:text-emerald-700 transition 
        duration-150 ease-in-out" href="#Desserts">
            <div class="mx-auto px-3 ">
                <div class="font-semibold text-base">Дессерты</div> 
            </div>
        </a>

        <a class="flex-1 items-end flex flex-col justify-center cursor-pointer hover:text-emerald-700 transition
         duration-150 ease-in-out" href="#Drinks">
            <div class="mx-auto px-3 ">
                <div class="font-semibold text-base">Напитки</div> 
            </div>
        </a>

    </div>
</div>