<div class="grid sm:px-4 grid-cols-1 gap-0 lg:grid-cols-3 xl:grid-cols-4 sm:grid-cols-2 ">
  <div *ngFor="let desert of deserts; index as i;" class="w-full p-2 lg:px-0">
    <div class="bg-white rounded p-3">
      <div>
        <div class="max-w-full mb-3 h-62 lg:mb-0 max-w-xs mx-auto flex-initial">
          <img [src]="desert.UrlImg" (click)="addToCart(desert.DishId);" alt="Just a flower"
            class="object-fill w-full h-full rounded opacity-95 cursor-pointer hover:translate-y-1 transition duration-150 ease-in-out">
        </div>
        <div class="flex-auto p-2 justify-evenly">
          <div class="flex flex-wrap ">
            <div class="flex flex-row items-center justify-between w-full min-w-0 ">
              <h2 class="font-semibold mr-auto text-xl text-gray-900">
                {{desert.Name}}
              </h2>
            </div>
          </div>
          <div class="flex flex-wrap ">
            <div class="flex items-center justify-between w-full min-w-0 text-gray-400 pt-2 pb-4 font-light "
              style="height: 120px;">
              <p>{{desert.Structure}}</p>
            </div>
          </div>
          <div class="flex items-center justify-between w-full min-w-0 ">
            <div class="text-lg font-medium">{{desert.Price}} ₽</div>

            <button *ngIf="!desertsInCartID.includes(desert.DishId)" (click)="addToCart(desert.DishId);" class="mx-2 my-2 bg-green-600 shadow-md
                hover:bg-green-700 hover:shadow-lg
                active:bg-green-800 active:shadow-lg
                transition duration-150
                ease-in-out rounded-md 
                text-white text-base px-6 py-2">
                <!-- <svg width="20" height="20" fill="currentColor" class="mr-2 animate-spin" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
                  </path>
              </svg> -->
              В корзину</button>

            <button *ngIf="desertsInCartID.includes(desert.DishId)" (click)="addToCart(desert.DishId);" class="mx-2 my-2 bg-green-600 shadow-md
                hover:bg-green-700 hover:shadow-lg
                active:bg-green-800 active:shadow-lg
                transition duration-150
                ease-in-out rounded-md 
                text-white text-base px-6 py-2">Добавить ещё</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

