<div id="Head" class="min-h-screen bg-slate-50/50 pt-20">
    <div class="container mx-auto">
        <div class="max-w-xl mx-auto sm:p-4 ">
            <div class="my-6">
                <h1 id="Pizza" class="text-4xl font-bold text-gray-800">Пицца</h1>
            </div>
        </div>
    </div>

    <app-pizzas></app-pizzas>

    <div class="w-full mx-auto mt-20">
        <footer class="p-4 bg-white shadow md:px-6 md:py-8 ">
            <div class="sm:flex sm:items-center sm:justify-between max-w-2xl mx-auto">
                <a href="#Head" class="flex items-center">
                    <h1 class="text-green-600 text-2xl md:text-3xl font-bold
            leading-tight tracking-tight text-shadow focus:outline-none cursor-pointer" [routerLink]="['/']">
                        Pizzeria
                    </h1>
                </a>
                <ul class="flex flex-wrap items-center mb-6 sm:mb-0">
                    <li>
                        <a href="#Head" class="mr-4 text-gray-400 hover:text-green-700 md:mr-6">О нас</a>
                    </li>
                    <li>
                        <a href="#Head" class="mr-4 text-gray-400 hover:text-green-700 md:mr-6">
                            Политика конфиденциальности
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/delm0n/web-pizzeria-2022" target="_blank" class="text-gray-400 hover:text-green-700">GitHub</a>
                    </li>
                </ul>
            </div>
            <div class="max-w-2xl mx-auto">
                <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
            </div>
            <span class="block  sm:text-center text-gray-400 font-light">
                © 2022 Зуев Артём. All Rights Reserved.
            </span>
        </footer>
    </div>
</div>