<div class="sm:px-4">
  <div class="p-2 lg:px-0 grid grid-cols-1 gap-0 sm:grid-cols-2">
    <div class="flex flex-row gap-x-3 mb-2 sm:my-2">

      <span (click)="filter_status = 0; getPizzasFilter()" class="cursor-pointer text-base font-medium inline-block py-2.5 px-3 leading-none transition duration-150 ease-in-out
      text-center whitespace-nowrap align-baseline  rounded-full my-auto"
        [ngClass]="filter_status == 0 ? 'bg-gray-700 text-white shadow-md hover:shadow-lg' : 'bg-gray-300 text-gray-600' ">Все</span>

      <span (click)="filter_status = 1; getPizzasFilter()" class="cursor-pointer text-base font-medium inline-block py-2.5 px-3 leading-none transition duration-150 ease-in-out
      text-center whitespace-nowrap align-baseline  rounded-full my-auto"
        [ngClass]="filter_status == 1 ? 'bg-red-600 text-white shadow-md hover:shadow-lg' : 'bg-red-200 text-white' ">Острая</span>

      <span (click)="filter_status = 2; getPizzasFilter()" class="cursor-pointer text-base font-medium inline-block py-2.5 px-3 leading-none transition duration-150 ease-in-out
      text-center whitespace-nowrap align-baseline  rounded-full my-auto"
        [ngClass]="filter_status == 2 ? 'bg-emerald-500 text-white shadow-md hover:shadow-lg' : 'bg-emerald-200 text-white' ">Без
        мяса</span>

    </div>

    <div class="relative flex sm:justify-end ">
      <button (click)="dropdownClick()" class="bg-gray-700 shadow-md
            hover:shadow-lg my-auto
            active:shadow-lg
            transition duration-150
            ease-in-out rounded-md 
            text-white text-base font-medium py-2 flex flex-row justify-center w-44"> {{dropdown_active.name}}

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
          class="bi bi-chevron-down my-auto ml-2 -mr-1 "
          [ngClass]="dropdown_status ? ' rotate-180 transition duration-150 ease-in-out': 'transition duration-150 ease-in-out'">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </button>

      <div
        [ngClass]="dropdown_status ? 'transition duration-150 ease-in-out' : 'hidden transition duration-150 ease-in-out' "
        class="absolute top-12 z-30 shadow rounded-md bg-white">

        <div *ngFor="let opt of dropdown_array"
          class="cursor-pointer text-gray-700 text-base px-5 py-2.5 hover:bg-gray-200 hover:text-gray-600"
          (click)="changeDropdownActive(opt.id); getPizzasFilter(); dropdownClick()">{{opt.name}}</div>

      </div>

    </div>

  </div>
</div>




<div class="grid sm:px-4 grid-cols-1 gap-0 lg:grid-cols-3 xl:grid-cols-4 sm:grid-cols-2 ">
  <div *ngFor="let pizza of pizzas; index as i;" class="w-full p-2 lg:px-0">
    <div class="p-3 bg-white rounded relative">

      <span *ngIf="pizza.PizzaType == 1"
        (click)="modalBtn(); openPizzaModal(pizza.PizzaId, pizza.PizzaName, pizza.UrlImg, pizza.Structure)"
        class="absolute cursor-pointer right-5 top-8 z-20 text-xs inline-block py-2 px-2.5 leading-none text-center 
      whitespace-nowrap align-baseline font-bold bg-red-600 text-white rounded-full border-2 border-white">Острая</span>

      <span *ngIf="pizza.PizzaType == 2"
        (click)="modalBtn(); openPizzaModal(pizza.PizzaId, pizza.PizzaName, pizza.UrlImg, pizza.Structure)" class="absolute cursor-pointer right-3 top-8 z-20 text-xs inline-block py-2 px-2.5 leading-none text-center 
      whitespace-nowrap align-baseline font-bold bg-emerald-500 text-white rounded-full border-2 border-white">Без
        мяса</span>

      <div class="">
        <div class="relative max-w-full mb-3 h-62 lg:mb-0 max-w-xs mx-auto flex-initial">
          <img [src]="pizza.UrlImg"
            (click)="modalBtn(); openPizzaModal(pizza.PizzaId, pizza.PizzaName, pizza.UrlImg, pizza.Structure)"
            alt="Just a flower"
            class="object-fill w-full h-full rounded opacity-95 cursor-pointer hover:translate-y-1 transition duration-150 ease-in-out">
        </div>
        <div class="flex-auto p-2 justify-evenly">
          <div class="flex flex-wrap ">
            <div class="flex flex-row items-center justify-between w-full min-w-0 ">
              <h2 class="font-semibold mr-auto text-xl text-gray-900">
                {{pizza.PizzaName}}
              </h2>

              <ngb-rating [rate]="pizza.Rating"></ngb-rating>

            </div>
          </div>
          <div class="flex flex-wrap ">
            <div class="flex items-center justify-between w-full min-w-0 text-gray-400 pt-2 pb-4 font-light "
              style="height: 120px;">
              <p>{{pizza.Structure}}</p>
            </div>
          </div>
          <div class="flex items-center justify-between w-full min-w-0 ">
            <div class="text-lg font-medium">от {{pizza.MinPrice}} ₽</div>

            <button (click)="modalBtn(); openPizzaModal(pizza.PizzaId, pizza.PizzaName, pizza.UrlImg, pizza.Structure)"
              class="mx-2 my-2 bg-green-600 shadow-md
            hover:bg-green-700 hover:shadow-lg
            active:bg-green-800 active:shadow-lg
            transition duration-150
            ease-in-out rounded-md 
            text-white text-base px-6 py-2">Выбрать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- модальное окно -->
<div [ngClass]="'z-50 fixed w-full flex justify-center inset-0 ' + (modal ? 'hidden' : 'block')">
  <div (click)="modalBtn()" class="w-full h-full opacity-40 bg-gray-900 z-0 absolute inset-0"></div>
  <div class="mx-auto container" [@openClose]="modal ? 'hidden' : 'block'">
    <div class="flex items-center justify-center h-full w-full">
      <div id="modalMobile"
        class="bg-white rounded-md shadow fixed overflow-y-auto sm:h-auto w-10/12 md:w-10/12 lg:max-w-4xl ">
        <div
          class="bg-gray-100 rounded-tl-md rounded-tr-md px-4 py-3 md:px-8 md:py-4 md:py-7 flex items-center justify-between">
          <p class="text-base font-semibold text-gray-900">{{modalPizzas.pizzaName}} пицца</p>
          <button role="button" aria-label="close label" (click)="modalBtn()" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" fill="currentColor"
              class="bi bi-x-lg font-semibold text-gray-400 hover:text-gray-700" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
              <path fill-rule="evenodd"
                d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
            </svg>
          </button>
        </div>
        <div class="px-4 md:px-10 py-3 md:py-6 ">
          <div class="flex flex-col sm:flex-row">
            <div class="sm:h-max-31 my-auto flex-initial">
              <img [src]="modalPizzas.urlImg" alt="" class="object-fill w-full h-full rounded">
            </div>

            <div id="modalNotMobile" class=" ml-0 sm:ml-2 pr-2">
              <div class="w-full min-w-0 text-gray-400 py-2">
                <p>Состав: {{modalPizzas.structure}}</p>
              </div>


              <div class="flex-col">
                <!-- <h3 class="">Размер:</h3> -->

                <div class="xl:w-full xl:mx-0 h-12 hidden sm:block bg-white rounded ">
                  <div class="justify-between flex-wrap sm:block bg-white rounded">
                    <div class="xl:w-full xl:mx-0 h-12">
                      <ul class="flex items-center h-full text-center">
                        <li (click)="active_status = 0"
                          [ngClass]="active_status == 0 ? 'flex-1 text-sm text-green-700 py-2 px-3 bg-white rounded font-medium shadow'
                                   : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-3 font-medium hover:text-green-700 cursor-pointer'">
                          {{modalPizzas.sizes[0].NameSize}}</li>
                        <li (click)="active_status = 1"
                          [ngClass]="active_status == 1 ? 'flex-1 text-sm text-green-700 py-2 px-3 bg-white rounded font-medium shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-3 font-medium hover:text-green-700 cursor-pointer'">
                          {{modalPizzas.sizes[1].NameSize}}</li>
                        <li (click)="active_status = 2"
                          [ngClass]="active_status == 2 ? 'flex-1 text-sm text-green-700 py-2 px-3 bg-white rounded font-medium shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-3 font-medium hover:text-green-700 cursor-pointer'">
                          {{modalPizzas.sizes[2].NameSize}}</li>

                      </ul>
                    </div>
                  </div>
                </div>
                <div class="h-12 sm:hidden bg-white rounded ">
                  <div class="justify-between flex-wrap sm:block bg-white rounded">
                    <div class="xl:w-full xl:mx-0 h-12">
                      <ul class="flex items-center h-full text-center">
                        <li (click)="active_status = 0"
                          [ngClass]="active_status == 0 ? 'flex-1 text-sm text-green-700 font-medium py-2 px-2 bg-white rounded shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-2 font-normal hover:text-green-700 cursor-pointer'">
                          25 см.</li>
                        <li (click)="active_status = 1"
                          [ngClass]="active_status == 1 ? 'flex-1 text-sm text-green-700 font-medium py-2 px-2 bg-white rounded shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-2 font-normal hover:text-green-700 cursor-pointer'">
                          35 см.</li>
                        <li (click)="active_status = 2"
                          [ngClass]="active_status == 2 ? 'flex-1 text-sm text-green-700 font-medium py-2 px-2 bg-white rounded shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-2 font-normal hover:text-green-700 cursor-pointer'">
                          41 см.</li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div (click)="checkIngredients()" class="py-2">
                <app-ingredients></app-ingredients>
              </div>

              <div class="text-sm font-semibold py-2">Выбрано:</div>
              <div class="flex flex-col md:flex-row py-2 justify-between">

                <div class="md:hidden flex flex-row items-center justify-evenly mb-3">
                  <div><button (click)="decrement(active_status)"
                      class="px-3 py-1 text-2xl font-bold rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">-</button>
                  </div>
                  <div class="px-3 text-xl font-semibold">{{countModal}}</div>
                  <div><button (click)="increment(active_status)"
                      class="px-3 py-1 text-2xl font-bold rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">+</button>
                  </div>
                </div>

                <div class="hidden md:flex flex-row items-center ">
                  <div><button (click)="decrement(active_status)"
                      class="px-2 rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">-</button>
                  </div>
                  <div class="px-3">{{countModal}}</div>
                  <div><button (click)="increment(active_status)"
                      class="px-2 rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">+</button>
                  </div>
                </div>

                <div class="mx-auto md:hidden">
                  <button (click)="addToCart()" class="mx-0 my-2 bg-green-600 shadow-md
                  hover:bg-green-700 hover:shadow-lg
                  active:bg-green-800 active:shadow-lg
                  transition duration-150
                  ease-in-out rounded-md 
                   text-white text-base px-2 py-2 w-56">В корзину за {{plusIngrPrice +
                    modalPizzas.sizes[active_status].Price * countModal | number: '.0-2' }} ₽</button>
                </div>

                <div class="hidden md:block">
                  <button (click)="addToCart()" class="mx-0 my-2 bg-green-600 shadow-md
                  hover:bg-green-700 hover:shadow-lg
                  active:bg-green-800 active:shadow-lg
                  transition duration-150
                  ease-in-out rounded-md 
                   text-white text-base px-2 py-2 w-56">В корзину за {{plusIngrPrice +
                    modalPizzas.sizes[active_status].Price * countModal | number: '.0-2' }} ₽</button>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>