<div class="grid sm:px-4 grid-cols-1 gap-0 lg:grid-cols-3 xl:grid-cols-4 sm:grid-cols-2 ">
  <div *ngFor="let pizza of pizzas; index as i;" class="w-full p-2 lg:px-0">
    <div class="p-3 bg-white rounded  ">
      <div class="">
        <div class="relative max-w-full mb-3 h-62 lg:mb-0 max-w-xs mx-auto flex-initial" 
        >
          <img [src]="pizza.UrlImg"
            (click)="modalBtn(); openPizzaModal(pizza.PizzaId, pizza.PizzaName, pizza.UrlImg, pizza.Structure)"
            alt="Just a flower" class="object-fill w-full h-full rounded opacity-95 cursor-pointer">
        </div>
        <div class="flex-auto p-2 justify-evenly">
          <div class="flex flex-wrap ">
            <div class="flex flex-row items-center justify-between w-full min-w-0 ">
              <h2 class="font-semibold mr-auto text-xl text-gray-900">
                {{pizza.PizzaName}}
              </h2>

              <ngb-rating [rate]="pizza.Rating"></ngb-rating>

            </div>
          </div>
          <div class="flex flex-wrap ">
            <div class="flex items-center justify-between w-full min-w-0 text-gray-400 pt-2 pb-4 font-light"
              style="height: 120px;">
              <p>{{pizza.Structure}}</p>
            </div>
          </div>
          <div class="flex items-center justify-between w-full min-w-0 ">
            <div class="text-lg font-medium">От {{pizza.MinPrice}} ₽</div>

            <button (click)="modalBtn(); openPizzaModal(pizza.PizzaId, pizza.PizzaName, pizza.UrlImg, pizza.Structure)"
              class="mx-2 my-2 bg-green-600 transition
               duration-150 ease-in-out hover:bg-green-700 rounded 
               text-white text-base px-6 py-2 ">Выбрать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div
>
<!-- 
пока не очень понятно
<div class="flex space-x-3">
  <svg class="w-12 h-12 text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
  </svg>
  <svg class="w-12 h-12 text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
  </svg>
  <svg class="w-12 h-12 text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
  </svg>
  <svg class="w-12 h-12 text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
  </svg>
  <svg class="w-12 h-12 text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
  </svg>
</div> -->

<!-- модальное окно -->
<div [ngClass]="'z-50 fixed w-full flex justify-center inset-0 ' + (modal ? 'hidden' : 'block')">
  <div (click)="modalBtn()" class="w-full h-full opacity-40 bg-gray-900 z-0 absolute inset-0"></div>
  <div class="mx-auto container" [@openClose]="modal ? 'hidden' : 'block'">
    <div class="flex items-center justify-center h-full w-full">
      <div id="modalMobile"
        class="bg-white rounded-md shadow fixed overflow-y-auto sm:h-auto w-10/12 md:w-10/12 lg:max-w-4xl ">
        <div
          class="bg-gray-100 rounded-tl-md rounded-tr-md px-4 py-3 md:px-8 md:py-4 md:py-7 flex items-center justify-between">
          <p class="text-base font-semibold text-gray-900">{{modalPizzas.pizzaName}} пицца</p>
          <button role="button" aria-label="close label" (click)="modalBtn()" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" fill="currentColor"
              class="bi bi-x-lg font-semibold text-gray-400 hover:text-gray-700" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
              <path fill-rule="evenodd"
                d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
            </svg>
          </button>
        </div>
        <div class="px-4 md:px-10 py-5 md:py-6">
          <div class="flex flex-col sm:flex-row">
            <div class="sm:h-max-31 my-auto flex-initial">
              <img [src]="modalPizzas.urlImg" alt="" class="object-fill w-full h-full rounded">
            </div>

            <div id="modalNotMobile" class=" ml-0 sm:ml-2 pr-2">
              <div class="w-full min-w-0 text-gray-400 py-2 font-light">
                <p>Состав: {{modalPizzas.structure}}</p>
              </div>


              <div class="flex-col">
                <!-- <h3 class="">Размер:</h3> -->

                <div class="xl:w-full xl:mx-0 h-12 hidden sm:block bg-white rounded ">
                  <div class="justify-between flex-wrap sm:block bg-white rounded">
                    <div class="xl:w-full xl:mx-0 h-12">
                      <ul class="flex items-center h-full text-center">
                        <li (click)="active_status = 0"
                          [ngClass]="active_status == 0 ? 'flex-1 text-sm text-green-700 py-2 px-3 bg-white rounded font-medium shadow'
                                   : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-3 font-medium hover:text-green-700 cursor-pointer'">
                          {{modalPizzas.sizes[0].NameSize}}</li>
                        <li (click)="active_status = 1"
                          [ngClass]="active_status == 1 ? 'flex-1 text-sm text-green-700 py-2 px-3 bg-white rounded font-medium shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-3 font-medium hover:text-green-700 cursor-pointer'">
                          {{modalPizzas.sizes[1].NameSize}}</li>
                        <li (click)="active_status = 2"
                          [ngClass]="active_status == 2 ? 'flex-1 text-sm text-green-700 py-2 px-3 bg-white rounded font-medium shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-3 font-medium hover:text-green-700 cursor-pointer'">
                          {{modalPizzas.sizes[2].NameSize}}</li>

                      </ul>
                    </div>
                  </div>
                </div>
                <div class="h-12 sm:hidden bg-white rounded ">
                  <div class="justify-between flex-wrap sm:block bg-white rounded">
                    <div class="xl:w-full xl:mx-0 h-12">
                      <ul class="flex items-center h-full text-center">
                        <li (click)="active_status = 0"
                          [ngClass]="active_status == 0 ? 'flex-1 text-sm text-green-700 font-medium py-2 px-2 bg-white rounded shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-2 font-normal hover:text-green-700 cursor-pointer'">
                          25 см.</li>
                        <li (click)="active_status = 1"
                          [ngClass]="active_status == 1 ? 'flex-1 text-sm text-green-700 font-medium py-2 px-2 bg-white rounded shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-2 font-normal hover:text-green-700 cursor-pointer'">
                          35 см.</li>
                        <li (click)="active_status = 2"
                          [ngClass]="active_status == 2 ? 'flex-1 text-sm text-green-700 font-medium py-2 px-2 bg-white rounded shadow' 
                                  : 'flex-1 bg-gray-100 text-sm text-gray-600 py-2 px-2 font-normal hover:text-green-700 cursor-pointer'">
                          41 см.</li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div (click)="checkIngredients()" class="py-2">
                <app-ingredients></app-ingredients>
              </div>

              <div class="text-sm font-semibold py-2">Выбрано:</div>
              <div class="flex flex-col md:flex-row py-2 justify-between">

                <div class="md:hidden flex flex-row items-center justify-evenly mb-3">
                  <div><button (click)="decrement(active_status)"
                      class="px-3 py-1 text-2xl font-bold rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">-</button>
                  </div>
                  <div class="px-3 text-xl font-semibold">{{countModal}}</div>
                  <div><button (click)="increment(active_status)"
                      class="px-3 py-1 text-2xl font-bold rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">+</button>
                  </div>
                </div>

                <div class="hidden md:flex flex-row items-center ">
                  <div><button (click)="decrement(active_status)"
                      class="px-2 rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">-</button>
                  </div>
                  <div class="px-3">{{countModal}}</div>
                  <div><button (click)="increment(active_status)"
                      class="px-2 rounded bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold cursor-pointer">+</button>
                  </div>
                </div>


                <div class="mx-auto md:hidden">
                  <button (click)="addToCart()" class="mx-0 my-2 bg-green-600 transition
                   duration-150 ease-in-out hover:bg-green-700 rounded 
                   text-white text-base px-2 py-2 w-56">В корзину за {{plusIngrPrice +
                    modalPizzas.sizes[active_status].Price * countModal | number: '.0-2' }} ₽</button>
                </div>

                <div class="hidden md:block">
                  <button (click)="addToCart()" class="mx-2 my-2 bg-green-600 transition
                   duration-150 ease-in-out hover:bg-green-700 rounded 
                   text-white text-base px-6 py-2 w-56">В корзину за {{plusIngrPrice +
                    modalPizzas.sizes[active_status].Price * countModal | number: '.0-2' }} ₽</button>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>