#modalNotMobile {
  height: 610px;
}

#modalMobile {
  height: 95%;
}

@media (min-width: 1024px) {
  #modalMobile {
    height: 85%;
    /* max-height: auto; */
  }
}

.my-class {
  aspect-ratio: 1/1;
  max-width: 310px;
  width: 100%;
}

.my-class .my-img[src=""] {
  visibility: hidden;
}

/* 
#selectors :active {
    border: gray;
} */

.loader-container {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 50px;
  padding: 8px;

  aspect-ratio: 1/1;
  border: 5px solid #10b981;
  border-radius: 50%;
  border-top-color: transparent;
  animation: l3 0.7s linear infinite;
  box-sizing: border-box;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
