<div class="flex items-center min-h-screen bg-slate-50/50">
    <div class="container mx-auto">
        <div class="max-w-lg mx-auto my-10 p-1 sm:p-4 ">
            <div class="text-center">
                <h1 class="my-3 font-bold text-3xl text-gray-700">Вход в аккаунт</h1>
                <p class="text-gray-500 dark:text-gray-400">Сохраним адрес доставки и предоставим возможность оценивания!</p>
            </div>
            <div class="sm:m-7">
                <form action="">

                    <div class="mb-6">
                        <div class="flex flex-row items-center justify-between">
                            <label for="telephone"
                                class="block mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">Телефон</label>
                            <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)">
                                <div *ngIf="telephone.errors?.['required']"
                                    class="block mb-2 text-sm font-semibold text-red-600">
                                    Это поле обязательно!
                                </div>
                                
                            </div>
                        </div>
                        <input [(ngModel)]="person.telephone" type="tel" name="telephone" #telephone="ngModel"
                            placeholder="+7 (922)-900-14-77" required mask="(000) 000 00 00" prefix="+7"
                            [showMaskTyped]="true"
                            [ngClass]="telephone.invalid && (telephone.dirty || telephone.touched) && telephone.errors?.['required'] || (telephone.touched && person.telephone.length != 10)
                            ? 'w-full px-3 py-2 placeholder-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300 border-red-500 ' 
                            : 'w-full px-3 py-2 placeholder-gray-300 border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300'" />
                    </div>

                    <div *ngIf="telephone.touched && person.telephone.length != 10" [@alertsAnimation]
                    class="bg-red-100 rounded-lg py-2 px-6 mb-4 text-base text-red-700 mb-3 inline-flex items-center w-full">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
                      </svg>
                        Неверный формат номера телефона!
                    </div>

                    <div class="mb-6">
                        <div class="flex flex-row items-center justify-between">
                            <label for="password"
                                class="block mb-2 text-sm font-semibold text-gray-600 dark:text-gray-400">Пароль</label>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                <div *ngIf="password.errors?.['required']"
                                    class="block mb-2 text-sm font-semibold text-red-500">
                                    Это поле обязательно!
                                </div>
                            </div>
                        </div>
                        <input [(ngModel)]="person.password" type="password" name="password" #password="ngModel"
                            placeholder="Введите пароль" required
                            [ngClass]="password.invalid && (password.dirty || password.touched) && password.errors?.['required'] ? 'w-full px-3 py-2 placeholder-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300 border-red-500 ' 
                                  : 'w-full px-3 py-2 placeholder-gray-300 border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200 focus:border-green-300'" />
                        <!-- <a href="#!" class="mb-2 text-sm text-green-400 focus:outline-none focus:text-green-500 hover:text-green-500 dark:hover:text-green-300">Забыли пароль?</a> -->
                    </div>

                    <div *ngIf="invalidPersonServer" [@alertsAnimation]
                    class="bg-red-100 rounded-lg py-2 px-6 mb-4 text-base text-red-700 mb-3 inline-flex items-center w-full">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
                      </svg>
                        Пользователь не найден!
                    </div>

                    <div class="flex flex-row items-center mb-6">
                        <div>
                            <input type="checkbox" [value]="checkedPolicy" (change)="changeCheckedPolicy()"
                                class="form-checkbox h-5 w-5 text-emerald-600">
                        </div>
                        <div class="text-sm ml-3 text-gray-500">Настоящим вы соглашаетесь <span class="text-emerald-400 cursor-pointer">с
                                политикой конфиденциальности</span> и даете согласие на
                            обработку своих персональных данных.</div>
                    </div>

                    <div class="mb-6 justify-center text-center">
                       
                        <button (click)="logIn()" type="button"
                            [disabled]="!(password.valid && telephone.valid && checkedPolicy && person.telephone.length == 10)"
                            [ngClass]="password.valid && telephone.valid && checkedPolicy && person.telephone.length == 10 ? 'text-center bg-emerald-500 shadow-md hover:bg-emerald-600 hover:shadow-lg active:bg-emerald-700 active:shadow-lg transition duration-150 ease-in-out rounded-md text-white text-base px-8 py-2 cursor-pointer text-base font-medium' 
                                  : 'text-center px-8 py-2 text-gray-600 text-base font-medium disabled:bg-gray-300 rounded-md'" class="">Войти</button>
                    </div>

                    <p class="text-sm text-center text-gray-500">У вас нет аккаунта? <a [routerLink]="['/registration']"
                            class="text-sm text-emerald-400 focus:outline-none focus:text-emerald-500 hover:text-emerald-500 dark:hover:text-emerald-600">Зарегистрироваться</a>.
                    </p>

                </form>
            </div>
        </div>
    </div>
</div>